
/* FONT VARIABLES */

$DM-sans: 'DM Sans-Regular', sans-serif;
$DM-sans-bold: 'DM Sans-Bold', sans-serif;
$DM-sans-italic: 'DM Sans-Italic', sans-serif;

// HK Grotesk: Regular, Medium, SemiBold, Bold
$HK-Grotesk-400: 'HK Grotesk-Regular', sans-serif;
$HK-Grotesk-500: 'HK Grotesk-Medium', sans-serif;
$HK-Grotesk-600: 'HK Grotesk-SemiBold', sans-serif;
$HK-Grotesk-700: 'HK Grotesk-Bold', sans-serif;

// LibreBaskerville: Regular, Bold
$Libre-Baskerville-400: 'Libre Baskerville-Regular', sans-serif;
$Libre-Baskerville-700: 'Libre Baskerville-Bold', sans-serif;

$Young-serif-400: 'Young Serif-Regular', sans-serif;

$primary: #082A33;
$primary-20: #CED4D6;
$primary-50: #839499;
$primary-60: #667A7F;
$primary-70: #526A70;
$primary-80: #39555C;

$secondary: #CEDBDA;
$secondary-20: #F5F8F8;
$secondary-50: #E6EDEC;
$secondary-100: #CEDBDA;

$dark-secondary: #CEDBDA;
$dark-secondary-80: #BAD1D0;
$dark-secondary-100: #A9C6C4;

// Complementary Colors

$cream: #E8E3DC;
$chocolate: #442B14;
$moss-green: #54805F;

// Functional Colors
$alert-red: #E36D65;
$link-blue: #2472AB;

// Other Colors
$black: #000000;
$white: #ffffff;