@import '../../styles/variables';

.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25.434vw;
  height: 21.034vw;

  &__image{
    width: 70%;
    height: 13.031vw;

    img{
      width:100%;
      height:100%;
      object-fit: contain;
      overflow: hidden;
    }
  }

  &__info{
    display: flex;
    flex-direction: column;
    padding: 1.318vw 1.171vw 1.245vw;
    width: 100%;
    height: 6.003vw;
    align-items: center;

    &__title{
      font-family: $Libre-Baskerville-400;
      color: $link-blue;
      font-size: 1.757vw;
      line-height: 2.343vw;
    }

  }
}
