@font-face {
  font-family: 'DM Sans-Regular';
  src:
    local('DM Sans-Regular'),
    url('./assets/fonts/DMSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans-Bold';
  src:
    local('DM Sans-Bold'),
    url('./assets/fonts/DMSans-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'DM Sans-Italic';
  src:
    local('DM Sans-Italic'),
    url('./assets/fonts/DMSans-Italic.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk-Regular';
  src:
    local('HK Grotesk-Regular'),
    url('./assets/fonts/HKGrotesk-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk-Medium';
  src:
    local('HK Grotesk-Medium'),
    url('./assets/fonts/HKGrotesk-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk-SemiBold';
  src:
    local('HK Grotesk-SemiBold'),
    url('./assets/fonts/HKGrotesk-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'HK Grotesk-Bold';
  src:
    local('HK Grotesk-Bold'),
    url('./assets/fonts/HKGrotesk-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville-Bold';
  src:
    local('Libre Baskerville-Bold'),
    url('./assets/fonts/LibreBaskerville-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Libre Baskerville-Regular';
  src:
    local('Libre Baskerville-Regular'),
    url('./assets/fonts/LibreBaskerville-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Young Serif-Regular';
  src:
    local('Young Serif-Regular'),
    url('./assets/fonts/YoungSerif-Regular.ttf') format('truetype');
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

#root {
  min-height: 100vh;
}

.App {
  min-height: 100vh;
}